<h1>This is the secret page!</h1>

<p>Aaron Rodgers is the GOAT!!</p>

<img src="https://i.insider.com/5873b241f10a9a22008b7572?width=1100&format=jpeg&auto=webp">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
